<html>

<body>
    <form action="/produtos/salva" method="POST">
        <div>
            <label for="titulo">Titulo</label>
            <input type="text" id="tituo" name="titulo" placeholder="Coloque o Titulo do livro">
        </div>
        <div>
            <label for="preco">Preço</label>
            <input type="text" id="preco" name="preco" placeholder="15.20">
        </div>
        <div>
            <label for="descricao">Descrição</label>
            <textarea id="descricao" cols="20" rows="10" name="descricao" placeholder="Coloque a Descrição do livro"></textarea>
        </div>
        <input type="submit" value="gavar"/>
    </form>
</body>

</html>