<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <table border="1">
        <tr>
            <td>id</td>
            <td>nome</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Livro de NodeJs</td>
        </tr>
    </table>
</body>
</html>